@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.CadCartaoCredito.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new WebMyMoney.Default.CadCartaoCreditoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>